In [1]:
import pandas as pd 

filepath = r"C:\Users\deshpande\Desktop\Statistics project\SkillsNetworkLab\toronto.csv"

df = pd.read_csv(filepath)

We have copied the data to a .CSV file on the desktop and we have uploaded it into a data frame.

In [2]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df.shape

(287, 3)

In [4]:
df = df[df.Borough != 'Not assigned']

Here, we kept the rows with Borough value different than 'Not assigned'.

In [5]:
df.shape

(210, 3)

In [6]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [7]:
for i in range(0,df.shape[0]):
    if df.iloc[i,2] == 'Not assigned':
        df.iloc[i,2] = df.iloc[i,1]
        print(df.iloc[i,2])

Queen's Park

Here, we changed the neighbourhood value to borough value in case the neighbourhood value was 'Not assigned'

In [8]:
df.shape

(210, 3)